PROJECT_NAME="LogiTrack API"
DATABASE_URL=postgresql+asyncpg://logitrack_user:SUA_SENHA_AQUI@db:5432/logitrack_db
SECRET_KEY=GERAR_UMA_CHAVE_FORTE
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_USER=logitrack_user
POSTGRES_PASSWORD=SUA_SENHA_AQUI
POSTGRES_DB=logitrack_db
